.tag-candidate-item{
    padding: 4px 8px;
    cursor: pointer;
}

.tag-candidate-item:hover {
  background: #e8f0fe;
}

.tab-button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background: transparent;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
}

.tab-button:hover {
  background: #e5e5e5;
}

.tab-button.active {
  font-weight: 600;
  background: #e5e5e5;
}